<!doctype html>
<html lang="en">


  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1">

    <title> InterCity Taxi Booking</title>
    
    <link rel="icon" href="images/icon.jpg" type="image/icon type">
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/bootstrap.css')}}">        
    <link rel="stylesheet" type= "text/css" href= "{{ url_for('static',filename='css/Base.css')}}">

    <link href='https://fonts.googleapis.com/css?family=Oxygen:400,300,700' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.css' rel='stylesheet'>
    
  </head>
    
    <header>
      <nav id="header-nav" class="navbar navbar-menuButtonefault">
        <div class="container-fluid">
            <div class="navbar-header">
                <div class="navbar-brand">
                    <a href="/index"> <img src="{{url_for('static',filename='images/logo.jpg')}}" align="left" /></a>                           
                </div>
              </div>
          <!-- .collapse .navbar-collapse -->
                
            <ul id="nav-list2" class="nav navbar-nav mininav">
                      <li id="Accountbutton" class = "smenuButton active"><a href="/ManageAccount"class="fa fa-user"></a></li>
                      <li class="divider">|</li>
                      <li id="LogOutbutton" class = " smenuButton "><a href="/login"class="fa fa-power-off"></a></li>              
            </ul><!-- #nav-list -->  
            <ul id="nav-list" class="nav navbar-nav ">
                      <li id="Homebutton" class="menuButton"><a href="#" class=""> HOME </a></li>
                      <li class="divider2">|</li> 
                      <li id="Bookbutton" class = "menuButton "><a href="#" class=""> BOOK A CAB </a></li>
                      <li class="divider2">|</li>
                      <li id="Managebutton" class = "menuButton "><a href="#" class=""> MANAGE BOOKING </a></li>
                      <li class="divider2">|</li>
                      <li id="Contactbutton" class = "menuButton "><a href="#" class=""> CONTACT US </a></li>
                      <li class="divider2">|</li>
                      <li id="Aboutbutton" class = "menuButton "><a href="#" class=""> ABOUT US </a></li>             
            </ul><!-- #nav-list -->  
                     
            
        </div><!-- .container --> 
      </nav><!-- #header-nav -->
    </header>
<body>
    <div class="col-lg-4 filler2">
    <h2>EDIT ACCOUNT DETAILS</h2>
  </div>

  <div class="col-lg-4 filler2">
    <h2>CHANGE PASSWORD</h2>
  </div>

  <div class="col-lg-4 filler2">
    <h2>DELETE MY ACCOUNT</h2>
  </div>

</body>
    <!--
    <div id="phone">
      <select  onfocus="this.selectedIndex=-1;">
      {% for i in new: %}
      <option value="{{ i }}">{{i}}</option>
      {% endfor %}

    </div>


<div id="myCarousel2" class="carousel slide" data-ride="carousel" data-interval="false" data-touch="true">
  <div class="carousel-inner">
      <div class="item-tile item active">
          <div id="banner1" alt="course1" class="banner"> <img src="{{url_for('static',filename='images/banner3.jpg')}}" align="left" /></div>   
      </div>
      <div class="item-tile item">
          
      </div>  
  </div>
    <a class="left carousel-control" href="#myCarousel2" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel2" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
    <span class="sr-only">Next</span>
  </a>
  </div>
</div>
    -->


    <!--jQuery (Bootstrap JS plugins depend on it)-->

    <script src= "{{ url_for('static',filename='js/jquery-2.1.4.min.js')}}"></script>
    <script src= "{{ url_for('static',filename='js/bootstrap.min.js')}}"></script>

  </body>
 
  <footer>
    <div>
      <div><span class="filler1">Contact Us : 0824-123456/66/76  |   +91 1234567890 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Email us : dbmsminiproject@cabs.org<span></div>
      <div id="play1" class=""> <img src="{{url_for('static',filename='images/play1.jpg')}}" align="right" /></div>
      <div id="play2" class=""> <img src="{{url_for('static',filename='images/play2.jpg')}}" align="right" /></div>
    </div>
  </footer>

</html>